body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#counter-app {
    text-align: center;
    background-color: #007bff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    width: 90%;
    box-sizing: border-box;
}

button {
    font-size: 2rem;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #6b2651;
    color: rgb(255, 255, 255);
}


button:hover {
    background-color: #0452aa; 
    color: white;
}

#counter {
    font-size: 4rem;
    color: white;
    margin: 20px 0;
    display: block;
}

button.reset {
    background-color: #ff0019;
}

button.reset:hover {
    background-color: #35dc4e; 
    color: white;
}

button {
        font-size: 1.5rem;
        padding: 10px 20px;
        margin: 5px;
    }

    #counter {
        font-size: 3rem;
    }
    @media (max-width: 600px) {
        #counter-app {
            padding: 20px;
        }
}
